/* ****************************************************** NAV */
/* NAV */
.header {
  position: relative;
  height: 8rem;
}
.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;

  height: 8rem;
  padding: 1.2rem 2.4rem;
  border-bottom: 1px solid #d2dae5;

  background-color: #e9edf2;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 0.8rem;
  cursor: pointer;
}

.company-logo-img {
  width: 5.2rem;
}
.logo-h1 {
  font-size: 2.4rem;
  color: #1f487e;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.logo-text {
  font-size: 1.6rem;
  color: #6290c8;
  color: #376996;
  font-weight: 400;
  /* letter-spacing: 0.5px; */
  text-align: center;
}

.main-nav--ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.main-nav--li {
  list-style: none;
  text-decoration: none;
}

/* .main-nav--li button {
  color: #1f487e;
  border: none;
  background-color: #d2dae5;

  text-decoration: none;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  transition: all 0.3s;

  display: flex;
  gap: 0.4rem;
}
.main-nav--li button:hover,
.main-nav--li button:active {
  background-color: #bcc8d8;
  color: #1d3461;
  transform: scale(1.03);
} */

.cart-btn {
  position: relative;
}
.cart-counter {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 9999;
  background-color: #1f487e;
  color: #fff;
  border-radius: 100px;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 1.2rem;
}

/*****************************/
/* BELOW 544px (Phones) */
/*****************************/

@media (max-width: 34em) {
  .header-btn--text {
    display: none;
  }
}
