/* *********************************************** MAIN SECTION */
/* MAIN COMPONENT */

.main-section {
  padding: 3.2rem 3.2rem;
  overflow-x: hidden;
  position: relative;
}

/* *********************************************** MAIN COMPONENT */
/* MAIN COMPONENT */

.main-component {
  max-width: 134rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2.4rem;

  /* position: relative; */
  overflow-x: hidden;
}

.test-opacity {
  opacity: 30%;
  /* backdrop-filter: blur(10px); */
}

/* *********************************************** MAIN CART */

.cart-slide {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
}

.cart-slide--hidden {
  transform: translateX(100%);
}

.cart-container {
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  min-height: 75vmin;
  margin: 0 auto;

  width: 50vw;
  background-color: white;

  padding: 2.4rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;

  overflow-y: auto;
}
.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-header h2 {
  font-size: 2.4rem;
}

.cart-body {
  display: flex;
  flex-direction: column;
  /* gap: 3.2rem; */
  padding: 2.4rem;
}
.cart-body-title,
.cart-total {
  font-size: 1.8rem;
  font-weight: 700;
}

.cart-item {
  font-size: 1.6rem;
}
.cart-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 3.2rem;
  padding: 2.4rem;
}

.cart-grid:first-child {
  font-weight: 700;
}

.cart-align {
  text-align: center;
}

.cart-total,
.cart-body-title {
  border: 1px solid #d2dae5;
  border-radius: 4px;
}

.cart-total {
  margin-top: 2.4rem;
}

.cart-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-bottom: 3.2rem;
  margin-top: auto;
}

.checkout--btn {
  color: #d2dae5;
  border: none;
  background-color: #1c4171;

  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 1.6rem 3.2rem;
  border-radius: 4px;
  transition: all 0.3s;

  display: flex;
  gap: 0.4rem;
}

.checkout--btn:hover,
.checkout--btn:active {
  transform: scale(1.03);
}

/* *********************************************** MAIN LEFT */

.main-div--left {
  border: 1px solid #e9edf2;
  border-radius: 4px;

  padding: 1.6rem;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.filter-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-slide {
  display: block;
}
.filter-slide--hidden {
  display: none;
}

.filter-slide--btn {
  display: none;
}

.main-div--left h3 {
  font-size: 2.4rem;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
}

.main-div--left ul {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.main-div--left li {
  border-top: 1px solid #e9edf2;
  /* border-radius: 4px; */
  list-style: none;
  padding: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.main-div--left h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.filter-button--div {
  font-size: 1.6rem;
  padding-left: 0.6rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.filter-button {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.filter-button:hover {
  font-weight: 600;
  cursor: pointer;
}

.filter-check {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #d2dae5;
  border-radius: 2px;
}
.filter-check--active {
  background-color: #1f487e;
  border: 1px solid #1f487e;
}
.filter-button--apply {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4rem;
}

/* *********************************************** MAIN RIGHT */

.main-div--right {
  display: flex;
  flex-direction: column;
}
.main-div--list {
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}

.list-item {
  background-color: #e9edf2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.04);
}

.list-item:hover {
  cursor: pointer;
  transform: scale(1.01);
  background-color: #fff;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.08);
}

.list-item--img-text {
  border: 1px solid #e9edf2;
  padding: 1.2rem 2.4rem;
  border-radius: 4px;
  background-color: #fff;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: space-around;
}

.item-div--img {
  text-align: center;
  width: 100%;
}

.item-div--text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.item-div--text h3 {
  font-size: 1.8rem;
  font-weight: 500;
}
.item-div--text p {
  font-size: 1.5rem;
  font-weight: 400;
}

.list-item--price-cart {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
}

.list-item--btn-div {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.4rem;
}
.item-price {
  font-weight: 700;
  font-size: 1.4rem;
}

.item--btn {
  border: none;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
  display: flex;
  gap: 0.6rem;
}

.item--btn-sml {
  background-color: #d2dae5;
  color: #1f487e;
  padding: 0.3rem 0.6rem;
  font-weight: 600;
}

.item--btn-add {
  padding: 0.4rem 0.8rem;
  background-color: #4c6d98;
  font-weight: 700;
  color: #fff;
}
.item--btn:hover,
.item--btn:active {
  background-color: #1d3461;
  color: #bcc8d8;
  transform: scale(1.03);
}

.list-item--btn-div p {
  font-weight: 600;
}

.main-div--right-btn {
  display: flex;
  gap: 2.4rem;

  justify-content: center;
  align-items: center;

  margin-top: 3.2rem;
}

/* *********************************************** QUERIES*/
/* QUERIES */

/*****************************/
/* BELOW 1340px (Smaller desktops) */
/*****************************/
@media (max-width: 84em) {
  .main-component {
    max-width: 120rem;
  }
}
/*****************************/
/* BELOW 1200px (Landscape Tablets) */
/*****************************/
@media (max-width: 75em) {
  .main-section {
    padding: 2.4rem;
  }

  .main-component {
    gap: 1.8rem;
  }

  .main-div--list {
    column-gap: 1.8rem;
    row-gap: 1.8rem;
  }
  .list-item--img-text {
    padding: 1.2rem 1.2rem;
    gap: 1.4rem;
  }

  .item-img {
    width: 75%;
  }
}
/*****************************/
/* BELOW 944px (Tablets) */
/*****************************/
@media (max-width: 59em) {
  .main-component {
    grid-template-columns: 1fr 3fr;
  }
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .item-img {
    width: 60%;
  }

  .cart-container {
    width: 60vw;
  }
}
/*****************************/
/* BELOW 704px (Smaller Tablets) */
/*****************************/

@media (max-width: 44em) {
  .main-component {
    grid-template-columns: 1fr 3fr;
  }
  .main-div--list {
    grid-template-columns: 1fr 1fr;
  }

  .cart-container {
    width: 75vw;
  }
}

/*****************************/
/* BELOW 544px (Phones) */
/*****************************/

@media (max-width: 34em) {
  .main-section {
    padding: 1.2rem;
  }

  .main-component {
    padding: 1.2rem 0rem;

    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .main-div--left {
    border: 1px solid #e9edf2;
    border-radius: 4px;

    padding: 0.8rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    /* position: absolute; */
    /* display: none; */
  }

  .filter-slide {
    display: none;
  }
  .filter-slide--hidden {
    display: block;
  }

  .filter-slide--btn {
    color: #1f487e;
    border: none;
    background-color: #d2dae5;

    text-decoration: none;
    font-weight: 500;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    transition: all 0.3s;

    display: flex;
    gap: 0.6rem;
  }
  .filter-slide--btn:hover,
  .filter-slide--btn:active {
    background-color: #1c4171;
    color: #bcc8d8;
    transform: scale(1.03);
  }

  .main-div--list {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .list-item--img-text {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .item-div--img {
    text-align: center;
    width: 100%;
  }

  .item-img {
    width: 50%;
  }

  .item-price {
    font-weight: 700 !important;
  }

  .cart-body {
    padding: 1.2rem 0rem;
  }
}
